.list{
    display:flex;
    flex-direction: column;
    margin-left: 20px;
    padding-left: 20px;
}

.sickle{
    text-align: left;
    padding: 2em;
}

.header {
    text-align: center;
    font-size: 40px;
    background-image: url('../../Assets/redbloodcells.jpg');
    color: white;
}