ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1rem;
}

.navBar {
  background: rgba(255,156,145,0.85);
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 1rem;
  padding: .5em;
  font-family: cursive;
  width: 100%;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.logo {
  width: 40px; 
  height: auto;
}